<div class="questions-container">
  <h1> Questions </h1>
  <ul>
    <% @questions.each do |question| %>
     <li><%= question.votes.count %><a href='questions/<%= question.id %>'> <%= question.title %></a></li>
     <li>Author: <%= question.user.username %></li>
     <br>
     <% end %>
   </ul>
 </div>
