<h> Log in </h>	<br><br>

<%if @errors%>
<%= erb :'_errors'%>
<%end%>


<form action ="/sessions/login" method="post">
   
	<label>email</label><br>
	<input type="text" name="email"><br>
	<label>password</label><br>
	<input type="password" name="password"><br>
    <input type="submit" name="submit" value="Login">


</form>