<%if @errors %>
<%= erb :"_errors"%>
<%end%>

<h1>New commment for <%=@comment_type.class%></h1>


  <form class="new-comment-form" action="/<%=((@comment_type.class).to_s + "s").downcase%>/<%=@comment_type.id%>/comments" method="post">
    <textarea name="comment[body]" placeholder="comment"></textarea>
    <input type="submit" value="submit">
  </form>
